<div id='wrapper'>	
	<% if flash[:notice] %>
      <p class="alert-success"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="alert-error"><%= flash[:error] %></p>
    <% end %>
	<h3>Data Mahasiswa</h3>
	<% if mahasiswa_signed_in? %>
	<div id='new'><%= link_to 'Create', new_mahasiswa_path %> OR 
	<%= link_to 'Import Form CSV', import_mahasiswa_path %> OR 
	<%= link_to 'Import Form XLS', import_excel_mahasiswa_path %></div>
	<% end %>
<div id='main'>
	<table class="table table-striped table-hover" align="center">
		<thead>
		<tr>
			<th>No</th>
			<th>NIM</th>
			<th>Nama</th>
			<th>Semester</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		<% 
		i = 1
		@mahasiswas.each do |mahasiswa|
		%>
		<tr>
			<td><%= i %></td>
			<td><%= mahasiswa.nim %></td>
			<td><%= mahasiswa.nama %></td>
			<td><%= mahasiswa.semester %></td>
			<td><%= mahasiswa.email %></td>
			<td><%= link_to 'Detail', mahasiswa_path(mahasiswa.id) %>
				<% if mahasiswa_signed_in? %> 
			 	| <%= link_to 'Edit', edit_mahasiswa_path(mahasiswa.id) %> 
				|	<%= link_to 'Hapus', mahasiswa_path(mahasiswa.id), :method=>'delete', data: { confirm: "Kamu yakin menghapus data ini?" } %>
				<% end %></td>
		</tr>
		<%
		i += 1
		end %>
		</tbody>
	</table>
	<div id='paginate'><%=paginate @mahasiswas %></div>
</div>