<!DOCTYPE html>
<html>
<head>
  <title>Tugas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header"><h2>Tugas Ruby On Rails</h2>
<% if mahasiswa_signed_in? %>
Selamat Datang, <%=current_mahasiswa.username%>
<%=link_to 'Logout', destroy_mahasiswa_session_path, :method => 'delete' %>
<% end %> </div>

<%= yield %>

</body>
</html>
